* {
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

body {
  background-color: #f0f0f0;
}

.name {
  font-weight: 700;
  font-size: 120%;
}

.title {
  font-weight: 700;
  width: 100%;
  padding: 20px 40px;
  background-color: #333;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 120%;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin: auto;
}

.display-top {
  display: flex;
  justify-content: space-between;
}

.refresh-btn {
  height: 30px;
  margin: 5px;
  box-shadow: 4px 3px 1px #ffc107;
}

tr {
  height: 50px;
}

.submit-btn {
  box-shadow: 4px 3px 1px #454545;
}

.add-score,
.recent-scores {
  font-size: 100%;
  font-weight: 700;
}

.form-input {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  align-items: end;
  width: 100%;
  margin-bottom: 15px;
}

input {
  border-radius: 7px;
}

.score-table {
  border: 1px solid #000;
  width: 100%;
  height: 20px;
  overflow-y: scroll;
  box-shadow: inset;
}

.scores-input {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 300px;
  justify-content: center;
  padding: 1px 20px;
}

.score-box {
  height: 400px;
  overflow-y: scroll;
}

td {
  padding: 2px 0 2px 2%;
}

tr:nth-child(odd) {
  background-color: rgb(217, 217, 217);
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-content: center;
    justify-content: center;
  }

  .scores-display,
  .scores-input {
    width: 47%;
  }

  .scores-input {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 4px;
    height: 400px;
    justify-content: center;
  }

  .display-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  .refresh-btn {
    height: 30px;
    margin: 5px;
    font-size: initial;
  }

  .add-score,
  .recent-scores {
    font-size: 24px;
    font-weight: 700;
  }

  .score-table {
    border: 1px solid #000;
    width: 100%;
  }

  tr:nth-child(odd) {
    background-color: rgb(217, 217, 217);
  }

  .form-input {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: end;
    width: 100%;
  }

  .form-input > input {
    width: 90%;
  }

  .submit-btn {
    width: 110px;
  }
}

@media screen and (min-width: 1075px) {
  .scores-display,
  .scores-input {
    width: 35%;
  }

  nav {
    width: 80%;
    margin: auto;
  }

  .add-score,
  .recent-scores {
    font-size: 30px;
    font-weight: 700;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: end;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin-top: 5%;
  }

  main {
    margin-top: 3%;
  }

  .title {
    font-size: 70px;
  }

  .scores-display,
  .scores-input {
    width: 30%;
  }

  .add-score,
  .recent-scores {
    font-size: 30px;
    font-weight: 700;
  }

  .refresh-btn {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: end;
    width: 100%;
    font-size: 25px;
  }

  .scores-input {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 400px;
    align-items: center;
    width: 450px;
    padding-right: 20px;
  }

  .score-table {
    border: 1px solid #000;
    width: 100%;
    height: 300px;
    font-size: 25px;
  }
}

.post-message {
  height: 25px;
  width: 60%;
  color: #fff;
  margin: auto;
  background: rgb(55, 225, 97);
  text-align: center;
  font-weight: 700;
  font-family: Inter, Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
